.hero-body {
    background: rgb(63,94,251);
    background: linear-gradient(to bottom right, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    padding: 60vh;
    margin-bottom: 40vh;
    margin-left: 25vh;
    border-radius: 155px !important;
    height: 30vh;
    width:160vh;
    
}

.title1 {
    text-align: left;
    font-weight: bolder;
    color:black;
    position:relative;
    bottom:25vh;
    font-size: 35px;
    width:80vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.subtitle1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    width:90vh;
    bottom:15vh;
    color:black;
    font-size: large;
    font-weight: bold;
    padding-left: 10vh;
}

.aboutpic {
   
    position:absolute;
    padding-left: 110vh;
    top: 145vh;   
    
}

.aboutpic2 {
   
    position:absolute;
    padding-left: 110vh;
    top: 149vh;
    width: 120vh;  
    
}


.aboutpic3 {
   
    position:absolute;
    margin-right: 115vh;
    top: 170vh;
    width: 6vh;
    
    
}

.aboutpic4 {
   
    position:absolute;
    margin-right: 115vh;
    top: 190vh;
    width: 6vh;
    
    
}