.field {
    background: rgb(28, 28, 30);
    text-align: center;
    margin: auto;
    margin-bottom: 35vh;
    padding:5%;
    border:5%;
    border-radius: 25px;
};

.inputLang {
    color:aqua;
}

.outputLang {
    color:aquamarine;
}
.buttonl {
    position:absolute;
    left: 73vh;
    top: 30vh;
    padding: 11px;
    font-size: 1rem;
    border-radius: 30px;
        background-color:#8120dc;
        border-color: rgb(62, 61, 61);
        width: 30vh;
        font-weight:bolder;
        color: white;
}



.label {
    color: aliceblue;
};

.display {
    position:relative;
 left: 0px;
 top: 0px;
 z-index: -1;
}