/* Styling */

* 
#home{
    
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkviolet;
    background: linear-gradient(to bottom right, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

section{
    height: 80vh;
}

.home-tag {

    font-weight:bolder;
    font-size: 25px;
    text-align:center;
    width: 450px;
    position:inherit;
    bottom: 60px;
    left: 840px;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
   
    

}

#parent{
color:black;
font-weight: bold;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
position:absolute;
top: 18px;
padding-right: 2vh;
left: 35px;

}


.button-element{
    position:absolute;
    left: 120vh;
    bottom: 6vh;
    padding: 20px;
    font-size: 1rem;
}
 .button-1 {
        border-radius: 40px;
        background-color:#8120dc;
        border-color: white;
        width: 40vh;
        font-weight:bolder;
        color: white
     }

     .button-element2{
        position:relative;
        left: 125vh;
        padding: 20px;
        font-size: 1rem;
        top: 2vh;
    }

     .button-2 {
        border-radius: 40px;
        background-color:#8a2be2;
        border-color: white;
        width: 30vh;
        font-weight:bolder;
        color: white
     }

     .button-1:hover {
        background-color: #8a2be2;
        
    }
    


.pic1 {
    position:relative;
    padding-left: 45vh;
    padding-top: 10vh;
    bottom:2vh;
    
}

.pic2 {
   
    position:absolute;
    padding-left: 85vh;
    top: 48vh;   
}

.pic3 {
    position:relative;
    bottom: 30vh;    
}

.pic4 {
    position:inherit;
    bottom: 92vh;  
    width: 26vh; 
    padding-right:18px;
    left: 1vh;
}